# Xcode
*.xcodeproj/*
!*.xcodeproj/project.pbxproj
!*.xcodeproj/xcshareddata/
!*.xcworkspace/contents.xcworkspacedata
*.xcuserstate
*.xcuserdatad
xcuserdata/

# Build
build/
DerivedData/
*.ipa
*.dSYM.zip
*.dSYM

# Swift Package Manager
.swiftpm/
.build/
Packages/
Package.resolved

# CocoaPods
Pods/
*.podspec

# Carthage
Carthage/

# Fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/**/*.png
fastlane/test_output

# Code coverage
*.gcno
*.gcda

# macOS
.DS_Store

# AppCode
.idea/

# Swift
*.swp
*~.nib

# Playgrounds
timeline.xctimeline
playground.xcworkspace

# Temporary files
*.swiftmodule
*.swiftdoc
